
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
  min-height:100vh;
}
body {
    background-color: hsl(21, 35%, 92%);
    margin: 0 auto;
    display: grid;
    font-size: 1rem;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    width: auto;
}
.display-con {
    padding: 0 1em;
    height: 100vh;
}

.calculator-item {
    display: grid;
    grid-template-columns: repeat(4, minmax(90px, 1fr));
    place-content: center;
    gap: 1.4rem;
    padding: 1em 0.2em;
}

button {
    padding: 1em;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 700;
    box-shadow: 1px 1px 4px hsl(309, 6%, 58%);
    cursor: pointer;
    color: hsl(232, 17%, 35%);
    font-family: 'Sora', sans-serif;
}

input {
    height: 7em;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: hsl(232, 17%, 35%);
    outline: none;
    text-align: right;
    font-size: larger;
    padding: 1em;
    font-family: "Sora", sans-serif;
    box-shadow: 1px 1px 4px hsl(309, 6%, 58%);
}

.functions {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 1em;
    margin: 1.2em 0;
    background-color: hsl(11, 24%, 72%);
}

.functions i {
    color: hsl(232, 17%, 35%);
    font-size:1.2em ;
}

i {
    color: hsl(21, 35%, 92%);
    cursor: pointer;
}

.switch {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 4px hsl(309, 6%, 58%);
    margin:1em 0.2em;
    color: hsl(232, 17%, 35%);
}

#theme-toggle {
    display: block;
    text-align: right;
    border: none;
    margin:1em 1.2em ;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
}

#theme-toggle i {
    color: hsl(11, 24%, 72%);
    font-size: 1.2em;
}

body.dark-mode, html.dark-mode {
    background-color: hsl(240, 27%, 18%);
    min-height:100vh;
}


body.dark-mode .calculator-item button {
    color: hsl(21, 35%, 92%);
}

body.dark-mode #clear {
    color: hsl(232, 17%, 35%);
}

body.dark-mode input {
    color: hsl(21, 35%, 92%);
}

#theme-toggle::selection,
button::selection,
aside::selection {
    background-color: transparent;
}

#basic-cal,
#formular-cal {
    border: none;
    padding: 0.5em 1.5em;
}

.active {
    background-color: hsl(11, 24%, 72%);
    border-radius: 10px 0 0 10px;
}

.inactive {
    border-radius: 0 10px 10px 0;
    background-color: transparent;
}

.operators {
    background-color: hsl(232, 17%, 35%);
    color: hsl(21, 35%, 92%);
}

#clear {
    background-color: hsl(11, 24%, 72%);
}

.calculator-item button:hover {
    background-color: hsl(309, 6%, 58%);
}

#clear:hover {
    background-color: hsl(240, 27%, 18%);
    color: hsl(21, 35%, 92%);
}

.calculator-item button:active {
    transform: scale(0.8);
    box-shadow: none;
}
article{
    display: none;
}

@media screen and (min-width: 768px) {
    html,body{
    display: flex;
       justify-content: space-between;
     margin:auto;
        overflow: hidden;
     
    }
    main {
        width: 70%;
    }

    input {
        height: 6em;
    }
    .calculator-item {
        gap: 1rem;
    }
article {
    display: block;
   margin: 1em 1em 1em auto;
    color:hsl(11, 24%, 72%);
    width: 30%;
}

}
